:root {
  --text: #060307;
  --background: #f5edf8;
  --user--message: #3c61dd;
  --assistant--message: #020509;
  /* #fcfdfe assis
  user #385bcc */
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--text);
}

main {
  width: 50%;
  margin: 5vh auto;
  background-color: blue;
  height: 80vh;
  padding: 10px;
}

.header--container {
  display: flex;
  justify-content: space-between;
  background-color: red;
  align-items: center;
}

.header--title {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  position: sticky;
  top: 0;
}

.chat--message {
  background-color: var(--assistant--message);
  max-width: 70%;
  padding: 15px;
  border-radius: 15px;
  text-align: justify;
}

.user--input {
  text-align: right;
  background-color: var(--user--message);
  margin-left: 30%;
  color: var(--background);
  display: flex;
  flex-direction: row-reverse;
}

.hide {
  visibility: hidden;
  display: none;
}

form {
  text-align: center;
  position: sticky;
  bottom: 0;
}

input {
  width: 95%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid var(--user--message);
  padding: 10px;
  font-size: 1.2rem;
  background-color: var(--background);
}

input:focus {
  outline: none;
}
